<ion-card (click)="kana.swipe=!kana.swipe" style="height: 300px; background-color: blanchedalmond;">
  <div *ngIf="kana.swipe" >
    <ion-card-header>
      <ion-card-title>{{kana.fonema | uppercase}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: 20px;">
      {{ kana.helpDesc }}
    </ion-card-content>
  </div>
  <div *ngIf="!kana.swipe" style="margin-top: 90px;">
    <ion-card-header>
      <ion-card-title style="font-size:50px">{{kana.kana}}</ion-card-title>
    </ion-card-header>
  </div>
  
</ion-card>