<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Opciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Opciones (usar tabs??): Nº preguntas, activar o desactivar kana  -->
  
  <ion-list>
    <div class="row">
      <div class="col" style="text-align: center;">
        <!--<ion-button color="tertiary" style="margin-right: 20px;" routerLink="/list">Ir a Lista</ion-button>
        <ion-button color="tertiary" style="margin-right: 20px;" [routerDirection]="'root'" [routerLink]="'/test'">Ir a Test</ion-button>-->
        <ion-button (click)="changeType()" style="margin-right: 10px;" disabled><span *ngIf="isHiragana">Hiragana</span><span *ngIf="!isHiragana">Katakana</span></ion-button>
        <ion-button (click)="default()">Por defecto</ion-button>
      </div>
    </div>    
    <ion-item>
      <ion-label position="stacked">Numero de Cards en Test <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="number" [(ngModel)]="numCards" (ngModelChange)="numCardChanged($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nº - Kana - Fonema - Active</ion-label>
    </ion-item>
    <ion-item *ngFor="let kana of kanas; let i = index">
      <ion-checkbox color="tertiary" [(ngModel)]="kana.active" (ngModelChange)="kanaChanged($event)" slot="end"></ion-checkbox>
      <ion-label>{{ i+1 }} - {{ kana.kana }} - {{ kana.fonema | uppercase }}</ion-label>      
    </ion-item>
  </ion-list>
</ion-content>
