<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="options">
      <ion-icon name="options"></ion-icon>
      <ion-label>Options</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="test">
      <ion-icon name="card"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="list"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
