<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Card Kana</ion-card-subtitle>
        <ion-card-title>Aprende los Kana</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esta aplicación te permitirá aprender los kanas paulatinamente, mucha suerte</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Listado de opciones</ion-label>
      </ion-list-header>
      <ion-item  [routerDirection]="'root'" [routerLink]="'/options'">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Opciones de configuración</ion-label>
      </ion-item>
      <ion-item [routerDirection]="'root'" [routerLink]="'/test'">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Empezar Tests</ion-label>
      </ion-item>
      <ion-item [routerDirection]="'root'" [routerLink]="'/list'">
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>Ver listado de kanas</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
