<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen scroll-y="false">
    <div class="row">
      <div class="col" style="text-align: center;">
        <!--<ion-button color="tertiary" style="margin-right: 20px;" [routerLink]="['list']">Ir a Lista</ion-button>
        <ion-button color="tertiary" routerLink="/options" style="margin-right: 20px;">Ir a Opciones</ion-button>-->
        <ion-button (click)="refresh()" style="margin-top: 20px;">Refrescar</ion-button>
      </div>
    </div>
    <ion-slides pager="true" style="height: 500px">
      <ion-slide *ngFor="let kana of kanas; let i = index;">
        <h2>{{ i + 1 }} / {{ kanas.length }}</h2>
        <app-card [kana]="kana"></app-card>
      </ion-slide>
    </ion-slides>    
</ion-content>
