<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de Kanas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!--<div class="row">
    <div class="col" style="text-align: center;">
      <ion-button color="tertiary" style="margin-right: 20px;" [routerDirection]="'root'" [routerLink]="'/test'">Ir a Test</ion-button>
      <ion-button color="tertiary" routerLink="/options">Ir a Opciones</ion-button>
    </div>
  </div>-->
  <ion-list>
    <ion-item *ngFor="let kana of kanas">
      {{kana.kana}} - {{kana.fonema | uppercase}}
    </ion-item>
  </ion-list>
</ion-content>
